## Police Checkpost Data Analysis

In [57]:
import pandas as pd
df = pd.read_csv('Police_Data.csv')

In [58]:
df.shape

(65535, 15)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

## Q1. Remove the column that contains Only Emplty Values

In [60]:
df.drop(columns='country_name', inplace=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       61474 non-null  object
 3   driver_age_raw      61481 non-null  float64
 4   driver_age          61228 non-null  float64
 5   driver_race         61475 non-null  object
 6   violation_raw       61475 non-null  object
 7   violation           61475 non-null  object
 8   search_conducted    65535 non-null  bool
 9   search_type         2479 non-null   object
 10  stop_outcome        61475 non-null  object
 11  is_arrested         61475 non-null  object
 12  stop_duration       61475 non-null  object
 13  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 6.1+ MB

In [62]:
df.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [63]:
df.head(20)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,3/23/2005,9:45,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,4/1/2005,17:30,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,6/6/2005,13:20,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,7/13/2005,10:15,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,7/13/2005,15:45,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10,7/13/2005,16:20,M,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,7/13/2005,19:00,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
12,7/14/2005,19:55,M,1979.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
13,7/18/2005,19:30,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
14,7/18/2005,19:45,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
15,7/19/2005,0:30,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
16,7/19/2005,0:30,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17,7/19/2005,23:30,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
18,7/20/2005,0:05,M,1955.0,50.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
19,7/24/2005,20:10,F,1958.0,47.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

## Q2. For Speeding , Were Men or Women stopped Often ?

In [64]:
df['driver_gender'][df['violation']=='Speeding'].value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

## Q3. Does Gender affect who gets searched during the stop ?

In [65]:
df['driver_gender'][df['search_conducted'] == True].value_counts()

M    2113
F     366
Name: driver_gender, dtype: int64

## Q4. What is the Mean Stop Duration ?

In [66]:
#df.replace({'stop_duration': '[a-zA-Z]'}, ' ', regex=True, inplace=True)
# Alternative of it .map()

In [67]:
df.head(5)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [68]:
df.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [69]:
df.stop_duration.unique()

array(['0-15 Min', '16-30 Min', '30+ Min', nan, '2'], dtype=object)

In [70]:
df.stop_duration = df.stop_duration.map({'0-15 Min':7.5, '16-30 Min': 24, '30+ Min':30})

In [71]:
df.stop_duration

0         7.5
1         7.5
2         7.5
3        24.0
4         7.5
         ...
65530     7.5
65531     7.5
65532     7.5
65533     NaN
65534     7.5
Name: stop_duration, Length: 65535, dtype: float64

In [72]:
df.stop_duration.mean()

11.541537885935517

In [73]:
g = df.groupby('violation')

## Q5. Compare the Age distribution for Each Violation .

In [74]:
g.describe()

                    driver_age_raw                                           \
                             count         mean         std     min     25%
violation
Equipment                   6515.0  1975.935380   65.818854     0.0  1971.0
Moving violation           11926.0  1965.462770  120.359733     0.0  1963.0
Other                       3583.0  1912.442088  329.302162     0.0  1959.0
Registration/plates         2243.0  1973.686135   73.103745     0.0  1969.0
Seat belt                      3.0  1981.666667   10.214369  1970.0  1978.0
Speeding                   37204.0  1972.189711   86.672468     0.0  1966.0

                                            driver_age             ...        \
                        50%     75%     max      count       mean  ...   75%
violation                                                          ...
Equipment            1981.0  1987.0  2005.0     6507.0  31.682957  ...  39.0
Moving violation     1974.0  1984.0  2006.0    11876.0  36.736443  ...  47.0
Other                1968.0  1979.0  2011.0     3477.0  40.362381  ...  50.0
Registration/plates  1979.0  1985.0  1996.0     2240.0  32.656696  ...  40.0
Seat belt            1986.0  1987.5  1989.0        3.0  30.333333  ...  34.0
Speeding             1979.0  1985.0  8801.0    37120.0  33.262581  ...  42.0

                          stop_duration                                      \
                      max         count       mean       std  min  25%  50%
violation
Equipment            81.0        6516.0  11.531998  7.584931  7.5  7.5  7.5
Moving violation     86.0       11925.0  13.434340  8.689016  7.5  7.5  7.5
Other                86.0        3583.0  15.171225  9.283107  7.5  7.5  7.5
Registration/plates  74.0        2243.0  14.555283  8.800182  7.5  7.5  7.5
Seat belt            42.0           3.0   7.500000  0.000000  7.5  7.5  7.5
Speeding             88.0       37204.0  10.405575  6.427396  7.5  7.5  7.5


                      75%   max
violation
Equipment             7.5  30.0
Moving violation     24.0  30.0
Other                24.0  30.0
Registration/plates  24.0  30.0
Seat belt             7.5   7.5
Speeding              7.5  30.0

[6 rows x 24 columns]

## Completed
### by Ashu, inspired by DSL (data Science Lover)